.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid rgb(0, 0, 0);
  margin: 20px 0 20px 0;
  width: 100%;
}

.table th,
.table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.calendar-cell {
  min-width: 100px;
  /* Ajusta según tus necesidades */
  max-width: 200px;
  /* Ajusta según tus necesidades */
}

.today-row {
  background-color: #c00010;
  color: red;
}

.header {
  background-color: lightgray;
}

.today-header {
  background-color: yellow;
  font-weight: bold;
}